<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Perl CMS | Cornell Hacking Club</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/modern-business.css" rel="stylesheet">
    <link href="../../static/css/general.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Navigation -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12 ">
            <h1 class="page-header">Welcome to Perl CMS</h1>
            <ol class="breadcrumb">
                <li><a href="../">Home</a>
                </li>
                <li class="active">Perl CMS!</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="container">
        <div class="row">
	        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% if error %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endif %}
            {% if saved %}
	            <div class="alert alert-success">
	                <strong>{{ saved }}</strong>
	            </div>
	        {% endif %}
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div>	
                    <h3>Upload Homework</h3>
                    <FORM name="uploadhw" class="form-signin" METHOD="POST" action="{% url 'cms.pl' %}" enctype="multipart/form-data" onsubmit="return validateForm()">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="netid" placeholder="netid" required autofocus>
                        <input type="file" class="form-control" name="homework" >
                        <input type="hidden"  name="lastlocation" value="perl_cms">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Upload
                        </button>
                        <button type="button" class="btn btn-lg btn-secondary btn-block" onclick="downloadreport()">
                            Download Report
                        </button>
                    </FORM>

                </div>
            </div>
            <script>
                function validateForm() {
                    var netid = document.forms["uploadhw"]["netid"].value;
                    var letterNumber = /^[0-9a-zA-Z]+$/;
                    if(netid.match(letterNumber)){
                        return true;
                    } else {
                        alert("Netids must be alphanumeric");
                        document.forms["uploadhw"]["netid"].value = null;
                        return false;
                    }
                }
                function downloadreport() {
                    url = "{% url 'cms.pl' %}?netid=" + document.forms["uploadhw"]["netid"].value;
                    location.href=url;
                }
            </script>
        </div>
    </div>



    <hr>
 

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Cornell Hacking Club 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../static/js/bootstrap.min.js"></script>
 
 </body>

</html>